
// Colors
$color-grey-light: #ccc;
$color-grey: #999;
$color-grey-dark: #666;
$color-black: #333;
$color-black-dark: #222;
$color-white: #fff;
$color-offwhite: #efefef;
$color-blue: #205081;
$color-blue-light: #bddaf7;
$color-red: #FF002B;
$color-red-light: #fac4cd;
$color-red-dark: #5c4347;
$color-orange: #fde1b4;
$color-brown-dark: #53453b;
$color-green: #ccebd1;
$color-yellow: #fcfdcc;
$color-yellow-dark: #5c5c46;