
// ==========================================================================
// Sizes
// ==========================================================================

//
// Base Sizes
// ==========================================================================

$size-base: 25px;
$size-base-xs: calc( $size-base / 4);
$size-base-s: calc( $size-base / 2);
$size-base-lg: $size-base*2;
$size-base-xl: $size-base*4;

//
// Font Sizes
// ==========================================================================

$size-font-body: 16px;