
.u-flex {
	@include flex-prep;

	// Full Width
	&-full {
		width: $width-12;
		display: inline-block;
		padding: $size-base 0;

		&--photo-bg {
			background: $color-blue;
		}

		&--white-bg {
			background: $color-white;
		}

		&--no-pad {
			padding: 0;

			&\@sm {
				@media (max-width: $break-s) {
					padding: 0;
				}
			}
		}
	}

	&-grid-thirds {
		display: flex;
		justify-content: space-between;
	}
}